{% extends "shop/base.html" %}
{% load static %}
{% block title %}Password Reset{% endblock title %}

{% block content %}

<br><br><br><br><br><br><br><br>
<div class='container'>
    <div class='row my-3'>
        <div class='col-sm-6 offset-sm-3'>
            <h1>Reset Password</h1>
            <br>
            <form action='' method='post' novalidate class='shadow p-5'>

                {% csrf_token %}
                {% for fm in form %}
                <div class='form-group'>
                    {{fm.label_tag}} {{fm}} <small class='text-danger'>{{fm.errors|striptags}}</small>
                </div>
                {% endfor %}
                <input type='submit' class='btn btn-primary mt-3' value='submit'>
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class='alert alert-danger my-3'></p>
                {% endfor %}
                {% endif %}                

            </form>

        </div>
    </div>
</div>





{% endblock content %}